<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>System</th>
          <th>Clock</th>
          <th>B(t)</th>
          <th>Q(t)</th>
          <th>Arrival times of <br/>custs. in queue</th>
          <th>Event calender</th>
        </tr>
      </thead>
      <tbody>
        <tr class="arrange_R">
          <td><% @state.get_queue.each do |part|%>(<%= part.number%>)<% end %> [<% if @state.get_machine != 0 %><%= @state.get_machine.get_part_num %><%else%>&nbsp;&nbsp;&nbsp;<%end%>]</td>
          <td><%= @state.get_clock %></td>
          <td><%= @state.get_b_t%></td>
          <td><%= @state.get_q_t%></td>
          <td><%= @state.get_ATofCinQ%></td>
          <td><% @state.get_event_calender.each do |event|%><%= event%><br/><%end%></td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Number of<br/>completed waiting<br/>times in queue</th>
          <th>Total of<br/>waiting times in queue</th>
          <th>Area under<br/>Q(t)</th>
          <th>Area under<br/>B(t)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @state.get_NofCWTinQ%></td>
          <td><%= @state.get_TofWTinQ%></td>
          <td><%= @state.get_Area_und_q_t%></td>
          <td><%= @state.get_Area_und_b_t%></td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered graph">
      <thead>
        <tr>
          <th width="20%">subject</th>
          <th width="80%">graph</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q(t) graph</td>
          <td class="graph_cell">sample</td>
        </tr>
        <tr>
          <td>B(t) graph</td>
          <td class="graph_cell">sample</td>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-bordered graph">
      <thead>
        <tr>
          <th width="20%">subject</th>
          <th width="80%">time schedule</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Interarrival times</td>
          <td><% @state.get_IAT_arr.each do |iat|%><%= iat%>, <%end%></td>
        </tr>
        <tr>
          <td>Service times</td>
          <td><% @state.get_ST_arr.each do |st|%><%= st%>, <%end%></td>
        </tr>
      </tbody>
    </table>
    <form action="tick_sim" method="post">
      <input type="hidden" name=""/>
      <input type="submit" value="Submit" class="btn btn-primary btn-lg"/>
    </form>
</div>